.container {
  margin-top: 20px;
  margin-left: 20px;
}

.goback-btn {
  cursor: pointer;
  height: 40px;
  width: 100px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  &:hover {
    color: rgb(231, 104, 73);
  }
}

.cast-list-item {
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(100% / 4 - 40px);
}
